<!doctype html>
<html lang="en">
<head>
	<title>Social-finder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="A node application to help find users of popular online social networks.">
	<link href="/assets/css/all.min.css" rel="stylesheet">
</head>

<!-- Body -->
<body>
	<section id="in">
		<div class="content">
		<div class="row">
			<div class="contain">
				<div class="icon-wrap">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
					<path fill="#000000" d="M14.5 0h-13c-0.825 0-1.5 0.675-1.5 1.5v13c0 0.825 0.675 1.5 1.5 1.5h13c0.825 0 1.5-0.675 1.5-1.5v-13c0-0.825-0.675-1.5-1.5-1.5zM11 2.5c0-0.275 0.225-0.5 0.5-0.5h2c0.275 0 0.5 0.225 0.5 0.5v2c0 0.275-0.225 0.5-0.5 0.5h-2c-0.275 0-0.5-0.225-0.5-0.5v-2zM8 5c1.656 0 3 1.344 3 3s-1.344 3-3 3c-1.656 0-3-1.344-3-3s1.344-3 3-3zM14 13.5v0c0 0.275-0.225 0.5-0.5 0.5h-11c-0.275 0-0.5-0.225-0.5-0.5v0-6.5h1.1c-0.066 0.322-0.1 0.656-0.1 1 0 2.762 2.237 5 5 5s5-2.238 5-5c0-0.344-0.034-0.678-0.1-1h1.1v6.5z"></path>
					</svg>
				</div>
				<div class="input-container">
				<div class="allpage">
				<p>Instagram</p>
				<form method="POST" action="/instagram">
				<input class="u-full-width" name="username"  type="text" placeholder="Username">
				<button type="submit">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
				<path fill="#000000" d="M9.707 13.707l5-5c0.391-0.39 0.391-1.024 0-1.414l-5-5c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l3.293 3.293h-9.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h9.586l-3.293 3.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.391 0.391 1.024 0.391 1.414 0z"></path>
				</svg>
				</button>
				</form>
				</div>
				</div>
			</div>
		</div>
		</div>
		<nav>
			<ul>
				<li>
					<a class="active" href="/all">All</a>
				</li>
				<li>
					<a href="/facebook">Facebook</a>
				</li>
				<li>
					<a href="/twitter">Twitter</a>
				</li>
				<li>
					<a href="/instagram">Instagram</a>
				</li>
				<li>
					<a href="/linkedin">Linkedin</a>
				</li>
				<li>
					<a href="/github">Github</a>
				</li>
				<li>
					<a href="/">Search</a>
				</li>
			</ul>
		</nav>
	</section>

</body>
</html>
