@import '../normalize';
@import '../animate';
@import '../skeleton';
@import '../placeholders';

#allPage{
  .content, nav{
    display: inline;
  }
  .row{
    margin-left: 80px;
    .facebook{
      @include inputBar($facebook);
    }
    .twitter{
      @include inputBar($twitter);
      .icon-wrap{
        margin-top: 40%;
      }
    }
    .instagram{
      @include inputBar($instagram);
    }
    .linkedin{
      @include inputBar($linkedin);
    }
    .github{
      @include inputBar($github);
    }
    .facebook, .twitter{
      height: 500px;
    }
  }
  .columns{
    margin: 0;
    padding: 0;
    color: white;
    min-height: 300px;
  }
  .four.columns{
    width: 33.333%;
  }
  .eight.columns{
    width: 66.666%;
  }
  nav{
    @extend %navBar;
  }
}
