@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400';

$speed: 0.6s;
$facebook : #3b5998;
$twitter : #36b9ff;
$instagram : #bc39a8;
$linkedin : #007bb6;
$github : #201e1f;

%transition{
  transition: $speed;
}
@mixin fillColor($color){
  path{
    fill: $color;
  }
}

@mixin hoverAction ($color){
    path{
      fill: $color;
    }
      p{
        width: 150px;
        margin: 0;
        font-size: 1.3em;
        color: $color;
        padding: 0 20px;
      }
      input{
        margin: 0;
        border-top: 0;
        border-bottom: 0;
        border-radius: 0;
        border-color: $color;
        color: black;

        &:hover{
          border-color: $color;
        }
      }
      svg{
        height: 20px;
        width: 50px;
        padding: 0 20px;
        path{
          fill: $color;
        }
      }

}
